body{
    background-image: radial-gradient(circle 835px at 12.1% 24%, rgba(93, 133, 178, 1) 25.7%, rgba(50, 73, 101, 1) 100.2%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.table thead tr th{
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    background-color: gray;
}

#imgBanner{
    display: none;
}
#lnkBanner{
    display: none;
}
img{
    display: none;
}