<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Encontrar Impostos</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="bgColor">
    {% include 'shared/header.html' %}
    {% block content %}
    <main>
        <div class="container mt-5">
            <h1 class="text-center mb-5">Descubra o imposto do produto</h1>
            <form class="col-12 mt-3" method="post" action="{% url 'tributacao' %}">
                <div class="input-group mb-5" style="width: 50%; margin: 0px auto;">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Insira o produto" aria-label="Recipient's username"
                        aria-describedby="button-addon2" name="nomeProd" list="produtos" value="{{ prodEscolhido }}" style="border: none; border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem;">
                    <datalist id="produtos">
                        {% for prod in prodList %}
                        <option value="{{ prod.nome }}">{{ prod.nome }}</option>
                        {% endfor %}
                    </datalist>
                    <button class="btn btn-outline-secondary" id="button-addon2" style="border: none; background-color: white;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <div class="col-12 mt-3 text-center">
                <span id="resultTributo">
                    {{result}}
                </span>
            </div>
        </div>
    </main>
    <script>
    </script>
    {% endblock %}
</body>
</html>