<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Maiores Impostos</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body style="background-image: radial-gradient(circle 835px at 12.1% 24%, rgba(93, 133, 178, 1) 25.7%, rgba(50, 73, 101, 1) 100.2%);background-repeat: no-repeat;background-attachment: fixed;">
    {% include 'shared/header.html' %}
    {% block content %}
    <main style="height: 100%;">
        <h1 class="text-center mt-5">15 Maiores Impostos</h1>
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="table-responsive mb-5 mt-5">
                            <table class="table mb-0">
                                <thead style="width: 100%;">
                                    <tr style="background-image: radial-gradient(circle 835px at 12.1% 24%, rgba(93, 133, 178, 1) 25.7%, rgba(50, 73, 101, 1) 100.2%);">
                                        <th scope="col">Posição</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Tributação</th>
                                    </tr>
                                </thead>
                                <tbody style="background-color: white;">
                                    {% for prod in sortedList %}
                                    <tr>
                                        <th scope="row" style="color: #666666;">{{ forloop.counter}}</th>
                                        <td>{{prod.nome}}</td>
                                        <td style=" font-weight: 500; color: #999999;">{{prod.tributacao}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>


